* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2F2E41;
  text-align: center;
}
.page {
  width: 1092px;
  margin: 79px auto 0px;
}
nav {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
  display: flex;
}
ul li a {
  color: #fff;
  margin-left: 64px;
}
a {
  text-decoration: none;
  font-family: 'JetBrains Mono';
  font-size: 14px;
  font-weight: 500;
}
main {
  display: flex;
  margin: 107px 0px 0px 0px;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-family: 'JetBrains Mono';
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 59px;
}
h1 span {
  color: #00BFA6;
  font-weight: 700;
}
p {
  color: #7D7987;
  font-family: 'Open Sans';
  font-weight: 700;
  line-height: 28px;
}
p span {
  color: #00BFA6;
}
p strong {
  color: #C2C2C2;
}
footer {
  font-size: 14px;
  line-height: 28px;
  font-family: 'JetBrains Mono';
  font-weight: 500;
  color: #fff;
  margin: 130px auto 0px;
}
footer a {
  color: #00BFA6;
}
.line {
  width: 568px;
  height: 0;
  border: 1px solid #00BFA6;
  margin: 0 auto 30px;
}
#lock {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 15px;
  margin-left: 15px;
}